# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
.testenv
.testenv*

# Windows Form Build outputs
WinApp/

# Database files
schema-test.sql

# Logs
logs/
*.log

# OS / editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/

